<div class="row component top15" ng-class="{multiline: multiline}">
  <div class='col-md-12'>
    <div class='row'>
      <div class="col-md-5">
        <textarea class="form-control"
                  ng-model="$parent.input"
                  ng-if="multiline"
                  ng-trim="false"></textarea>
        <input class="form-control" ng-model="$parent.input" ng-if="!multiline" ng-trim="false"/>
      </div>
      <div class="col-md-5" ng-show="!error">
        <p>
          <span>Результат:</span> <b ng-bind="result | json"></b>
        </p>
      </div>
      <div class="col-md-5" ng-show="error">
        <p class="error">
          <b>Ошибка:</b> <span ng-bind="error"></span>
        </p>
      </div>
      <div class="col-md-2 component-controls">
        <div class="checkbox"><label><input type="checkbox" ng-model="multiline"/>
          многострочность</label></div>
        <div class="checkbox" ng-show="tests.length"><label><input type="checkbox"
                                                                   ng-model="testsVisible"/>
          тесты</label></div>
      </div>
    </div>
    <div class='row top20'>
      <div class="col-md-2">
        <textarea class="form-control"
                  ng-model="$parent.regexp"
                  ng-if="multiline"
                  ng-trim="false"></textarea>
        <input class="form-control" ng-model="$parent.regexp" ng-if="!multiline" ng-trim="false"/>
      </div>
      <div class="col-md-3">
        <textarea class="form-control"
                  ng-model="$parent.replace"
                  ng-if="multiline"
                  ng-trim="false"></textarea>
        <input class="form-control" ng-model="$parent.replace" ng-if="!multiline" ng-trim="false"/>
      </div>
    </div>
  </div>
</div>